#card_1{
    background-color: #015c44;
}

#card_section_1{
    margin-top:100px ;
}

#buttom_1{
    background-color: #50ff79
}

#buttom_1:hover{
    background-color: #3cd15f;;
}

@media screen and (max-width:760px){
    #card_section_1{
        margin-top:35% ;
    }
}