

.bg_white{
    background-color:#ffffff;
}
.white{
    color:#ffffff;
}

.bg_gray{
    background-color:#c8ccdb;
}

.gray{
    color:#c8ccdb;
}

.bg_gray_2{
    background-color:#2D2F38;
}

.gray_2{
    color:#2D2F38;
}

.bg_gray_3{
    background-color: #bdbdbd;
}

.gray_3{
    color: #bdbdbd
}

.bg_blue_nav{
    background-color:#3F838A;
}

.blue_nav{
    color:#3F838A;
}

.bg_yellow{
    background-color:#bebc20;
}

.yellow{
    color:#bebc20;
}

.bg_black{
    background-color:#0f1013;
}

.black{
    color:#0f1013;
}

.bg_green{
    background-color:#204649;
}

.green{
    color:#204649;
}

.bg_green_2{
    background-color:#1c9b4c;
}

.green_2{
    color:#1c9b4c;
}

.style1{
    background-color:#4DA1A9 ;
}

.style2{
    background-color:#2D2F38 ;
}
